# Enteros y punto flotante

Los tipos numéricos en Python son uno de los tipos más simples y más utilizados en el lenguaje.

![Numeros_En_Python](imagenes/Numeros_En_Python.jpeg)

Los tipos básicos son los enteros (`int`) y los punto flotante (`float`).

La principal diferencia es que unos tienen decimales y otros no pero ambos están creados de la misma forma y comparten practicamente todos los métodos.

Se pueden instanciar como simples literales:
* Enteros: 0, -51, 4, 5, 6, 3, 1, 938475629, 495723, 42
* Punto flotantes: 4.3, -2.3, -8.453241

Y también se pueden hacer castings desde cadenas de caracteres:
* Enteros: int(-1), int(0), int(453)
* Punto flotantes: float('473.32'), float(inf), float('-43.25122')

Un punto importante de los punto flotante es que facilmente se pueden instanciar usando su notación científica:

In [ ]:
10e3, -4.5e-5, 8.943e6, 98e987, float('4938.23'), int('09473')

Dentro de los coma flotantes existen los conceptos de infinito y menos infinito

In [ ]:
float('inf'), float('-inf')

Gracias a que los tipos de datos numéricos comparten la implementación, se pueden intercambiar más facilmente para realizar operaciones que otros tipos de datos que se construyen totalmente diferentes

In [ ]:
4 + 9.5

In [ ]:
98 / 54e9

Otra forma muy útil de construir enteros es cambiando de base:

In [ ]:
int('101', base=2)

In [ ]:
int('AF9', base=16)

In [ ]:
int('AZX3', base=36)

## Ejemplos

Calcular vuestro nombre en base 27

# Rangos en Python

Uno de los tipos más útiles para crear series de datos es el tipo `range`.

![Range_Enumerate](imagenes/Range_Enumerate.jpeg)

Permite crear series de números con un inicio, fin y paso especificados con la siguiente sintaxis:

```python
range(fin) == 0, 1, ... fin - 1
range(inicio, fin) == inicio, inicio + 1, inicio + 2, ... fin - 1
range(inicio, fin, paso) == inicio + paso, inicio + (paso * 2), ... (fin < (inicio + paso * n))
```

In [ ]:
list(range(5))

In [ ]:
list(range(5, 10))

In [ ]:
list(range(10, 5, -1))

In [ ]:
list(range(5, 10, 3))

In [ ]:
list(range(8, 20, 8))

## Ejercicio 1 - Obtener una serie de valores múltiplos de 6

Obtener los números múltiplos de 6 desde el 10 hasta el 100

# Enumerate en Python

La función enumerate permite iterar por una variable tipo iterador devolviendo una tupla con 2 valores, la posición del elemento y el elemento en sí

```
for idx, value in enumerate("hola"):
    print(idx, value)
```

In [ ]:
for idx, value in enumerate("hola"):
    print(idx, value)

In [ ]:
for idx, value in enumerate([45, 21, 367, 44, 53]):
    print(idx, value)

## Uso de `enumerate` con rangos

Un uso muy cómo de iterar por valores es el uso de `enumerate`, el cual crea un índice para cada elemento en el iterador, y en conjunción con rangos permite potenciar el tipo de dato dramaticamente

In [ ]:
list(enumerate(range(4)))

In [ ]:
list(enumerate(range(10, 5, -1)))

In [ ]:
for idx, elem in enumerate(range(20, 10, -3)):
    print(f'El elemento {idx} es {elem}')

# Operadores comunes

Por defecto el build-in de Python define muchas operaciones para los tipos de datos que se pueden utilizar.

Hay que tener en cuenta que el lenguaje es fuertemente tipado, por lo que en multitud de ocasiones no se podrán aplicar las mismas operaciones entre tipos de datos distintos.

Todas las operaciones simples realmente hacen uso de las funciones mágicas como sigue:

Operador| Descripción | Función mágica
---------:|:-----------:|:-------------
`+`| Suma | `__add__`
`-`| Resta | `__sub__`
`*`| Multiplicación | `__mul__`
`/`| División simple | `__truediv__`
`//`| División entera | `__floordiv__`
`in` | Contener | `__contains__`
`**` | Elevado | `__pow__`
`%` | Módulo | `__mod__`
`>` | Mayor que | `__gt__`
`<` | Menor que | `__lt__`
`==` | Igual | `__eq__`

In [ ]:
5 + 98

In [ ]:
'45' + ' juan'

In [ ]:
45 + 'juan'

## Operaciones básicas sobre números

* `min`: permite obtener el mínimo valor en una secuencia de números (o de objetos)
* `max`: permite obtener el máximo entre en una secuencia de números (o de objetos)
* `round`: permite redondear un `float` a un `int`

In [ ]:
min(3, 4)

In [ ]:
max(5, 6)

In [ ]:
max(5, 4, 23, 2, 6, 6, 3, 4.3, 98.7)

In [ ]:
round(4.5)

In [ ]:
round(3.5) # el redondeo se hace hacia arriba en los impares!

# Booleanos

En Python existen tres estados lógicos:
* `True`: Verdadero
* `False`: Falso
* `None`: Nada o vacio

Los dos primeros se construyen a base de enteros y None es una constante que se evalua como `False`a nivel lógico.

Para construir valores lógicos se utiliza `bool` aunque en Python todos los valores son verdaderos a no ser que explicitamente se especifique lo contrario siendo pocos los valores evaluados como `False`:
* Ejemplos de valores `False`: `bool(0)`, `bool([])`, `bool(None)`, `bool({})`
* Ejemplos de valores `True`: `bool(1)`, `bool(-1)`, `bool('pepe')`, `bool([0])`

Conocer bien los conceptos de valores lógicos es importansimo al usar operadores lógicos y evaluaciones en general.

In [ ]:
bool(1), bool(-298), bool("")

In [ ]:
True * 4

In [ ]:
False + True

In [ ]:
False * 6

In [ ]:
[False] * 4

# Operadores lógicos

Como ocurre en los demás operadores, los operadores lógicos tienen su método mágico asociado pero tienen algunas particularidades como:

* Las operaciones lógicas tienen cortocircuitos lógicos implementados, por lo que una vez que un `and` es evaluado como `False`se corta la ejecución y lo mismo ocurre con un `or`que se evalua como `True`
* Las operaciones lógicas devuelve el último valor evaluado y no valores lógicos

In [ ]:
1 and 0

In [ ]:
1 or 0

In [ ]:
'Juan' or 0

In [ ]:
'' and 'Ernesto'

In [ ]:
1 > 0 and 'Juan' < 'Jul'

## Ejercicio

Comparar qué es más grande 'El perro de san Roque' o 'En un lugar de la mancha'

## Ejercicio 2

Pedir al usuario dos cadenas y comprobar cuál es la mayor

# Evaluación perezosa

En Python las operaciones condicionadas se evalúan de forma perezosa, (o con cortocircuito) si en operaciones `and`se se demuestra que la condición es False se devuelve directamente False sin seguir evaluando las demás condiciones

In [ ]:
a*2

In [ ]:
0 and a*2

Un caso similar se da en las operaciones `or` pero con las evaluaciones `True`

In [ ]:
1 or a*2

Además, dado que las variables en sí pueden ser evaluadas de forma intrínseca, es el último valor evaluado el que se devuelve de la operación condicionada

In [ ]:
0 or 'Hola'

In [ ]:
bool(0 or 'Hola')

# Puntos débiles y a tener en cuenta de floats en Python

La precisión y el redondeo
TODO: round, 0.333, 0.1, 0.1 + 0.2, round(2.675)

In [ ]:
0.1 + 0.1 + 0.1  # usar la librería decimals a usar operaciones con números flotantes

In [ ]:
a_pagar_al_dia = (0.1 + 0.1 + 0.1) * 100
a_pagar_anualmente = a_pagar_al_dia * 365

print(a_pagar_anualmente)
print(a_pagar_anualmente * 100000)
print(a_pagar_anualmente * 100000000000)

In [ ]:
5 / 6

In [ ]:
10 / 2.0

In [ ]:
10 / 2  # se devuelve un float

In [ ]:
(14 / 3) + (14 / 3) + (14 / 3)

In [ ]:
(14 / 3) + (14 * 2 / 3)

In [ ]:
round(2.675)

In [ ]:
round(3.67)

In [ ]:
round(1.5)

In [ ]:
round(2.5)
# los números pares se rendondean a la baja por defecto!