# Listas en Python

Las listas en python permiten almacenar datos de diferente tipo sin límite lógico (el límite lo impone los recursos de la máquina)

![Listas_En_Python.jpeg](imagenes/Listas_En_Python.jpeg)

Se instancia una lista de las siguientes formas:
* Utilizando un literal tipo lista: 
```python
mi_variable = [1, 'juan', True, 9.8, (3, 4)]
```
* Convirtiendo cualquier objeto a su representación en listas:

In [9]:
list('pepe')

['p', 'e', 'p', 'e']

In [7]:
list('3425'), list((453, 3)), list({True, 9.8})

(['3', '4', '2', '5'], [453, 3], [True, 9.8])

* Usando listas por comprensión (se verá más adelante)

In [1]:
# métodos asociados a listas
dir([])

['__add__',
 '__class__',
 '__contains__',
 '__delattr__',
 '__delitem__',
 '__dir__',
 '__doc__',
 '__eq__',
 '__format__',
 '__ge__',
 '__getattribute__',
 '__getitem__',
 '__gt__',
 '__hash__',
 '__iadd__',
 '__imul__',
 '__init__',
 '__init_subclass__',
 '__iter__',
 '__le__',
 '__len__',
 '__lt__',
 '__mul__',
 '__ne__',
 '__new__',
 '__reduce__',
 '__reduce_ex__',
 '__repr__',
 '__reversed__',
 '__rmul__',
 '__setattr__',
 '__setitem__',
 '__sizeof__',
 '__str__',
 '__subclasshook__',
 'append',
 'clear',
 'copy',
 'count',
 'extend',
 'index',
 'insert',
 'pop',
 'remove',
 'reverse',
 'sort']

Los métodos disponibles son los siguientes:

Nombre|Acción|ejemplo
------:|:------:|:-------
append | Añade un elemento a la lista | `lst.append(4)`
clear | Elimina todo el contenido de la lista | `lst.clear()`
copy | Crea una copia superficial de la lista | `lst.copy()`
count | Cuenta el número de ocurrencias de un elemento | `lst.count('Ana')`
extend | Añade una secuencia de elementos a la lista | `lst.extend([1, 2, 'Antonio'])`
index | Devuelve el índice que ocupa un elemento | `lst.index('juan')`
insert | Inserta en la posición indicada un elemento | `lst.insert('453', 3)`
pop | Extrae y devuelve un elemento de la lista de una posición concreta | `lst.pop(5)`
remove | Elmina la primera ocurrencia del elemento como argumento  | `lst.remove(4)`
reverse | Invierte el orden de la lista | `lst.reverse()`
sort | Ordena la lista según la función que se pase en el argumento key | `lst.sort(key=lambda x: x + 10)`

In [14]:
lst = [1, 2, 3, 4]
lst.append(5)
lst

[1, 2, 3, 4, 5]

In [15]:
lst.clear()
lst

[]

In [16]:
otra_lista = [1, 2, 2, 2, 3, 4, 5, 6]
lst.extend(otra_lista)
lst

[1, 2, 2, 2, 3, 4, 5, 6]

In [17]:
copia = lst.copy()

elem = lst.pop()
print(copia, elem, lst)

[1, 2, 2, 2, 3, 4, 5, 6] 6 [1, 2, 2, 2, 3, 4, 5]

In [20]:
lst.count(2), lst.count(5)

(3, 1)

In [21]:
lst.remove(5)
lst

[1, 2, 2, 2, 3, 4]

In [24]:
lst.reverse()
lst

([4, 3, 2, 2, 2, 1], None)

In [31]:
lst.sort(key=lambda x: x % 2)
lst

[4, 2, 2, 2, 3, 1]

In [32]:
lst.sort()
lst

[1, 2, 2, 2, 3, 4]

## Ejercicio 1 de listas

Crear una lista de números y ver la posición que ocupa el 5 en ella.

In [3]:
lista = range(1,10)
cont = 1
if 5 in lista:
    for n in lista:
        if n == 5:
            break
        cont += 1
cont

5

## Ejercicio 2 de listas

Convertir una cadena en lista y contar el número de vocales que tiene

In [4]:
cadena = "asidhqwieoqwencpqwepoaASIDQWEQEolasfqwe"
vocal = "aeiouAEIOU"
cont = 0
long = len(cadena)+1

for v in cadena:
    if v in vocal:
        cont += 1
        
cont

16

## Ejercicio 3 ordenar lista de cadenas


Ordenar la lista siguiente lista de elementos, añadir 3 elementos más uno a uno que sean: `Pedro`, `Paco` y `Pepe`

```python
cadenas = ['Juan', 'Ana', 'Maria', 'Antonio']
```
Despues ordenar y devolver la lista invertida

In [9]:
cadenas = ['Juan', 'Ana', 'Maria', 'Antonio']
print(cadenas)
cadenas.sort()
print(cadenas)
cadenas.extend(["Pedro", "Paco", "Pepe"])
print(cadenas)
cadenas.sort()
print(cadenas)
cadenas.sort(reverse=True)
print(cadenas)

['Juan', 'Ana', 'Maria', 'Antonio']
['Ana', 'Antonio', 'Juan', 'Maria']
['Ana', 'Antonio', 'Juan', 'Maria', 'Pedro', 'Paco', 'Pepe']
['Ana', 'Antonio', 'Juan', 'Maria', 'Paco', 'Pedro', 'Pepe']
['Pepe', 'Pedro', 'Paco', 'Maria', 'Juan', 'Antonio', 'Ana']

## Ejercicio 4 concatenar cadenas


Concatenar las cadenas

```python
nombres = ['Juan', 'Ana', 'Maria', 'Antonio']
numeros = [5, 6, 23, 51, -2, 3]
```

Obtener el índice que ocupa el elemento `Ana`

juan



## Ejercicio 5: Suma de números pares
Escribe un programa que sume todos los números pares en una lista de números enteros y muestre el resultado.

```python
numeros = [1, 2, 3, 4, 5, 6, 7, 8, 9, 10]
````

## Ejercicio 6: Conteo de elementos en una lista
Escribe un programa que cuente cuántas veces aparece una palabra específica en una lista de palabras.

```python
palabras = ["manzana", "banana", "cereza", "manzana", "uva", "manzana"]
```

## Ejercicio 7: Promedio de calificaciones
Escribe un programa que calcule el promedio de calificaciones en una lista de números de punto flotante.

```python
calificaciones = [9.5, 8.0, 7.5, 9.0, 8.5]
```

## Ejercicio 8: Eliminación de duplicados en una lista

Escribe un programa que tome una lista con elementos duplicados y genere una nueva lista que contenga solo los elementos únicos, manteniendo el orden original.

```python
entrada = [3, 1, 4, 1, 5, 9, 2, 6, 5, 3, 5]
```

## Ejercicio 9: Combinación de dos listas

Escribe un programa que tome dos listas y genere una tercera lista que contenga elementos comunes entre las dos listas sin duplicados.

```python
lista1 = [1, 2, 3, 4, 5]
lista2 = [3, 4, 5, 6, 7]
```

## Ejercicio 10: Multiplicación de matrices

Escribe un programa que realice la multiplicación de dos matrices (listas de listas) y muestre el resultado.

![Multiplicación de matríces](Explicacion-de-multiplicacion-de-matrices.png)

# Operaciones comunes sobre iteradores



Operador| Descripción | Función mágica
---------:|:-----------:|:-------------
`len`| Longitud | `__len__`
`sum`| Suma acumulada | 
`max`| Valor máximo | 
`min`| Valor mínimo | 
`zip` | Unión de cada elemento de cada iterador |
`filter` | Filtra los elementos de cada iterador | 
`map`| Devuelve un nuevo iterador pudiendo modificaro los elementos |
`sorted`| Devuelve un nuevo iterador ordenado pudiendo añadir el parámetro key como una función de ordenación y reverse:bool para el orden final |

In [120]:
numeros = [2, 3, 5, 1, 6, 2, 3, 58, -4, -9, -54]
nombres = ['Juan', 'Ana', 'María', 'José', 'ElPythonista']

len(numeros), len(nombres)

(11, 5)

In [122]:
sum(numeros) #, sum(nombres) no se puede usar en str

13

In [123]:
max(numeros), max(nombres)

(58, 'María')

In [124]:
min(numeros), min(nombres)

(-54, 'Ana')

In [127]:
list(zip(numeros, nombres))

[(2, 'Juan'), (3, 'Ana'), (5, 'María'), (1, 'José'), (6, 'ElPythonista')]

In [152]:
list(map(lambda x: x**2, numeros))

[4, 9, 25, 1, 36, 4, 9, 3364, 16, 81, 2916]

In [149]:
list(map(lambda x: x + ' hola', nombres))

['Juan hola', 'Ana hola', 'María hola', 'José hola', 'ElPythonista hola']

In [150]:
list(filter(lambda x: x > 5, numeros))

[6, 58]

In [153]:
list(filter(lambda x: 'o' in x , nombres))

['José', 'ElPythonista']

## Ejercicio
Convertir una cadena caracteres a una cadena de enteros usando map

`str_list = ['1', '23', '342', '3452', '3241', '5346']`

## Ejercicio

Ordenar alfabéticamente los nombres de los alumnos

`str_list = ['Juan', 'Pedro', 'Juan Manuel', 'María Teresa', 'Ana', 'Paloma', 'Paola', 'María']`

## Ejercicio

Similar al anterior pero ordenando por longitud de cada cadena

`str_list = ['Juan', 'Pedro', 'Juan Manuel', 'María Teresa', 'Ana', 'Paloma', 'Paola', 'María']`

Y ahora por longitud y por nombre

## Ejercicio 1 - Múltiplos de 3

Sacar los múltiplos de 3 de una lista de números

`numeros = [4, 5, 7, 34, 56, 43, 21, 63, 4, 29]`

## Ejercicio 2 - Elevar al cubo cada elemento

Elevar al cubo cada elemento de la lista

# Selección de subsecuencias (slicing)

Una parte muy útil de las secuencias de python es que pueden ser utilizadas como subsecuencias de diferentes formas.

Cada forma es una manera de iterar por las secuencias parecidas a como se hacen con los rangos pero con algunas mejoras.

La forma de crear subsecuencias de iteradores es usando indices de inicio, de fin y un paso como:

```python
secuecnia[inicio] == selección de elemento único (puede ser negativo para comenzar por el final)
secuecnia[inicio:] == selección de elementos desde inicio en adelante
secuecnia[:fin] == selección de elementos hasta fin
secuecnia[inicio:fin:paso] == selección desde inicio, hasta fin con paso
secuecnia[::] == selección de toda la secuencia (usado como copia)
secuecnia[::-1] == selección de toda la secuencia en orden inverso
```

In [23]:
sec_num = [1, 2, 3, 4, 5, 6, 7]
sec_str = ['Coche', 'Moto', 'Camión', 'Bici']

sec_num[0], sec_str[3]

(1, 'Bici')

In [135]:
sec_num[-1], sec_str[-3]

(7, 'Moto')

In [136]:
sec_num[4:], sec_str[5:]

([5, 6, 7], [])

In [143]:
sec_num[2:4], sec_str[1:2]

([3, 4], ['Moto'])

In [144]:
sec_num[2:2], sec_str[5:2]

([], [])

In [146]:
sec_num[::-3], sec_str[5:0:-4]

([7, 4, 1], ['Bici'])

In [1]:
sec_num[2::-1], sec_str[50::-2]

NameError: name 'sec_num' is not defined

## Ejercicio 1 - Obtener algunos valores

Usando la lista sec_str obtener ['Moto', 'Bici']

## Ejercicio 2 - Obtener algunos valores

Usando la lista sec_str obtener `'Moto'` usando paso negativo

## Ejercicio 3 - Obtener el penultimo par

Obtener la lista de elementos en las posiciones pares y devolver el penúltimo elemento

# Tuplas en Python

Las tuplas en python permiten almacenar datos de diferente al igual que las listas pero con las salvedad de que SON INMUTABLES.

Al ser inmutables consiguen que la memoria utilizada para almacenar esos datos sea mucho menor y sea más recomendable su uso cuando no se van a expandir los datos que guardan.

![Tuplas_En_Python.jpeg](imagenes/Tuplas_En_Python.jpeg)

Se instancia una tupla de las siguientes formas:
* Utilizando un literal tipo tupla: 
```python
mi_variable = (1, 'juan', True, 9.8, (3, 4))
```
* Por defecto al poner una coma entre dos variables se crea una tupla en Python
* Convirtiendo cualquier objeto a su representación en tupla:

In [20]:
tuple([1, 2, 3, 4])

(1, 2, 3, 4)

In [21]:
dir(())

['__add__',
 '__class__',
 '__contains__',
 '__delattr__',
 '__dir__',
 '__doc__',
 '__eq__',
 '__format__',
 '__ge__',
 '__getattribute__',
 '__getitem__',
 '__getnewargs__',
 '__gt__',
 '__hash__',
 '__init__',
 '__init_subclass__',
 '__iter__',
 '__le__',
 '__len__',
 '__lt__',
 '__mul__',
 '__ne__',
 '__new__',
 '__reduce__',
 '__reduce_ex__',
 '__repr__',
 '__rmul__',
 '__setattr__',
 '__sizeof__',
 '__str__',
 '__subclasshook__',
 'count',
 'index']

Operador| Descripción | Función mágica
---------:|:-----------:|:-------------
`count`| Contador de ocurrencias de un elemento | `tpl.count(4)`
`index`| Devuelve el índice que ocupa un elemento | `tpl.index(45)`

In [2]:
mi_tupla = (5, 4, 3, True, 'Juan')

mi_tupla[-1], mi_tupla[0], mi_tupla[5::-1]

('Juan', 5, ('Juan', True, 3, 4, 5))

In [3]:
mi_tupla.count(True), mi_tupla.index('Juan')

(1, 4)

In [4]:
mi_tupla.index('Pepe')

ValueError: tuple.index(x): x not in tuple

# Ejercicio 1 - 

Crear una tupla desde una lista de dividir entre 87 la serie desde el 1 hasta el 5 (1/87, 2/87, ..., 5/87)

# Ejercicio 2 - 

Crear una tupla de tuplas de 3 elementos donde para la serie desde el 1 hasta el 5 se guarden los valores de:
* `num`, `num * 2`, `num * num`

# Tamaño de una variable

Para saber el tamaño de una variable se puede utilizar `sys.getsizeof`

In [18]:
from sys import getsizeof

n_elems = 10 ** 7
lista_grande = list(x for x in range(n_elems))
tupla_grande = tuple(x for x in range(n_elems))

print(f'La lista ocupa {getsizeof(lista_grande)}')
print(f'La tupla ocupa {getsizeof(tupla_grande)}')

La lista ocupa 89095160
La tupla ocupa 80000040

## Ejercicio

Obtener el tamaño que ocupa:
* `Hola Mundo`
* `Hola Mundo` * 100
* [1] * 100
* '1' * 100

# Funciones anónimas - lambda

Las funciones anónimas son similares a las funciones estándar salvo que no tienen nombre y que el contexto en el que se crean y se destruyen es en la propia aplicación de la función

Mientras que una función estándar se carga en memoria y se llama tantas veces sea necesario, una función anónima solo se ejecuta en el momento de ejecución

Las funciones anónimas en python se definen con la palabra reservada `labmda`, aceptan parámetros de cualquier tipo pero sólo pueden definirse en una línea

Son empleadas comúnmente combinadas con otras operaciones como:
* `sorted(<iterador>, key=lambda x: x)`
* `sorted(<iterador>, key=lambda x, y: (-y, x))`
* `map(lambda x: x*2, range(5))`
* `list(filter(lambda x: x > 2, range(5)))`

In [28]:
iterador = [90, 2, 4.5, 63.4, 3]

print(sorted(iterador, key=lambda x: str(x)))
print(sorted(iterador, key=lambda x: str(x), reverse=True))

[2, 3, 4.5, 63.4, 90]
[90, 63.4, 4.5, 3, 2]

In [33]:
iterador = [('juan', 34), ('maría', 89), ('mario', 25)]

sorted(iterador, key=lambda x: (-x[1], x[0]))

[('maría', 89), ('juan', 34), ('mario', 25)]

In [37]:
list(map(lambda x: (x, x ** 2, x * 5, x % 3), range(5)))

[(0, 0, 0, 0), (1, 1, 5, 1), (2, 4, 10, 2), (3, 9, 15, 0), (4, 16, 20, 1)]

In [40]:
list(filter(lambda x: x > 2, range(5)))

[3, 4]

In [42]:
my_func = lambda x: x.upper()  # cercano a una función estándar, función anónima en variable con nombre

my_func('hola amijo')

'HOLA AMIJO'